#goa-progress-bar {
  -GtkProgressBar-xspacing: 0;
  -GtkProgressBar-yspacing: 3px;
  -GtkProgressBar-min-horizontal-bar-height: 3px;
  padding: 0;
}

.progressbar#goa-progress-bar {
  border-style: none;
  background-color: @theme_selected_bg_color;
  background-image: none;
  border-radius: 0;
  -adwaita-progressbar-pattern: none;
}

GtkProgressBar#goa-progress-bar.trough {
  padding: 0;
  border-image: none;
  border-style: none;
  border-width: 0;
  background-image: none;
  background-color: transparent;
  border-radius: 0;
}

#goa-overlay {
  background-color: rgba(0,0,0,0);
}
